$main-color: #1755e7;
$secondary-color: #164dcc;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;
$light-green: #39aab8;

$light-blue-gradient: linear-gradient(90deg, rgba(32,139,205,0.45) 100%, rgba(149,225,230,1) 100%);; // ten kolor jest przeźroczysty
$new-color2: linear-gradient(90deg, rgba(32, 139, 205, 0.5067401961) 100%, rgb(149, 225, 230) 100%);
$blue-gradient: linear-gradient(45deg,rgba(20, 105, 241, 0.45),rgba(42, 10, 184, 0.75));
$purple-gradient: linear-gradient(
	45deg,
	rgba(190, 10, 214, 0.45),
	rgba(68, 0, 255, 0.45)
);
$blue-gradient-solid: linear-gradient(
	45deg,
	rgb(20, 105, 241),
	rgb(42, 10, 184)
);
$light-blue-gradient-solid: radial-gradient(
	circle at top right,
	rgb(0, 78, 255) 0%,
	rgb(0, 212, 255) 100%
);
$new-color: linear-gradient(
		90deg,
		hsla(183, 60%, 42%, 1) 0%,
		hsla(200, 98%, 42%, 1) 100%
	),
	rgba(43, 153, 175, 0.75);
